<!doctype html>
<head></head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="100">
  <div class='preloader' data-no-turbolink="true">
    <div class='loaded'>&nbsp;</div>
  </div>
  <div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">
      <div class="main_menu_bg">
        <div class="container">
          <div class="row">
            <div class="nave_menu">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">
                      <img src="logo.png"/>
                    </a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="#home">Início</a>
                      </li>
                      <li>
                        <a href="#about">Sobre</a>
                      </li>
                      <li>
                        <a href="contacts">Inscrições</a>
                      </li>
                      <li>
                        <a href="#team">Programação</a>
                      </li>
                      <li>
                        <a href="#atividades">Atividades</a>
                      </li>
                      <li>
                        <a href="#footer">Contato</a>
                      </li>
                    </ul>

                  </div>

                </div>
              </nav>
            </div>
          </div>

        </div>

      </div>
    </header>
    <!--End of header -->
    <section id="home" class="home">
      <br>
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div>
              <div class="single_home_slider">
                <div class="main_home wow fadeInUp" data-wow-duration="700ms"></div>
              </div>
              <div>
                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                  <div></div>
                  <div ></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about">
      <div class="container">
        <div class="row">

          <div class="main_about_area sections">
            <div class="col-sm-10 col-sm-offset-1">

              <div class="main_about_content">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="single_about_left_img text-center wow fadeInLeft" data-wow-duration=".6s">
                      <img id="logo_secomp" src="logo1.png" alt=""/>
                    </div>
                  </div>
                  <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                    <div class="single_about_right_content" id="letra"><br>
                      <h3>O que é a Secomp?</h3><br>
                      <p>Diante da diversidade de áreas na Computação e suas constantes evoluções no desenvolvimento de novas tecnologias, a SECOMP(semana universitária de computação), durante quinze anos, apresenta-se como um importante meio de divulgação dessa ampla
                        gama de conhecimentos. Durante esse período, este evento vem marcando sua importância no âmbito acadêmico e profissional, influenciando os mais diversos setores da sociedade.</p>

                      <p>O evento consiste em atividades como: Palestras, Cursos, Workshops, Mesa Redonda, SmartIdea, Maratona de Programação e Gameshow. Estas atividades são organizadas pelo Programa de Educação Tutorial (PET) e a Empresa Junior (Acens) da Computação.</p>

                      <div ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Desenvolvendo com Ruby On Rails</h3>
            </div>
            <div class="modal-body">
              <p>Aprendendo a Construir Aplicações com Ruby on Rails. <br>
              <br>Local: Laboratório CED <br>
              		Data: 17/04 e 19/04 <br>
              		Hora: 13:30h às 17:00h <br>
              		Preço: 20 reais <br>
		              <br>OBS: Ao se inscrever em dois cursos, um deles sai pela metade do preço, ou seja, você pagará apenas R$ 30,00 pelos dois.</p>
                <a href="curriculoCarlosAdolfo.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Curriculo</a>
                <a href="ementa.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Ementa do curso</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Construindo um jogo 2D simples com Unity 3D</h3>
            </div>
            <div class="modal-body">
              <p>O presente mini-curso consiste na criação de um jogo simples 2D. Nele serão apresentados alguns conceitos como sprites 2D, game Engine Unity 3D e controle de personagem e itens através da programação. O jogo elaborado nesse curso consistirá de um
                único cenário e um único personagem caracterizado de ninja. Ele deverá coletar itens (shurikens) espalhados pelo cenário. Cada item terá uma pontuação. Ao coletar todas as shurikens, o jogo chegará ao fim e a pontuação final do jogador será mostrada.</p>
                <br>Local: PET Computação <br>
                		Data: 16/04 e 18/04 <br>
                		Hora: 13:30h às 17:00h <br>
                		Preço: 20 reais <br>
		            <br>OBS: Ao se inscrever em dois cursos, um deles sai pela metade do preço, ou seja, você pagará apenas R$ 30,00 pelos dois.</p>
              <a href="Henrique.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Currículo</a>
              <a href="EmentaUnity.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Ementa</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Introdução a Redes Neurais Artificiais</h3>
            </div>
            <div class="modal-body">
              <p>Introdução a Machine Learning, Neurônio de McCulloch & Pitts, Neurônio Perceptron (+ Prática), Single Layer Perceptron (+Prática),Multilayer Perceptron e Backpropagation (+Prática)</p>
              <br>Local: Laboratório SATE<br>
              		Data: 16/04 e 18/04<br>
              		Hora: 13:30h às 17:00h<br>
              		Preço: 20 reais<br>
              <br>OBS: Ao se inscrever em dois cursos, um deles sai pela metade do preço, ou seja, você pagará apenas R$ 30,00 pelos dois.</p>
              <a href="Minho.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Currículo</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal4">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Universidade e Suas Dimensões</h3>
            </div>
            <div class="modal-body">
              <p>A palestra busca apresentar a Universidade em todas as suas dimensões, destacando seu papel não somente na formação de profissionais qualificados para o mercado de trabalho, mas também como espaço de construção de conhecimento, de transformação
                social e de inovação. <br>
            <br>Data: 20/04 <br>
                Local: Auditório Central <br>
                Hora: 08:20h às 09:40h <br>
               </p>
              <center><a href="CurriculoPalestrante.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Currículo</a></center>
              </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal5">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Hack e antiHack</h3>
            </div>
            <div class="modal-body">
              <p>Ferramentas para invasão, detecção e bloqueio em redes, portas e em SOs.<br>
            <br>Local: PET Computação <br>
            		Data: 17/04 e 19/04 <br>
            		Hora: 13:30h às 17:00h <br>
            		Preço: 20 reais <br>
        	<br>	OBS: Ao se inscrever em dois cursos, um deles sai pela metade do preço, ou seja, você pagará apenas R$ 30,00 pelos dois.
              </p>
              <a href="Curso.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Ementa</a>
              <a href="Marcus.pdf" target="_blank"><img src="pdf_button.png" alt="PDF">Currículo</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal6">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Como o UX Design e a tecnologia podem atuar na área de Produtos Digitais.</h3>
            </div>
            <div class="modal-body">
              <p>Nessa palestra serão abordados conceitos e técnicas utilizados em uma área de Produtos Digitais, vamos aprofundar em UX Design e apresentar como acontece a criação e evolução de um produto dentro do mundo de Tecnologia. Apresentando como case o
                atual cenário de Tecnologia Educacional no SAS, uma plataforma de educação que desenvolve conteúdo, tecnologia e serviços para mais de 700 escolas e 230 mil alunos em todo o país.<br>
                <br>Data: 18/04 <br>
		            Local: Auditório Central <br>
		            Hora: 08:20h às 09:40h</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal7">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">INDEFINIDA</h3>
            </div>
            <div class="modal-body">
              <p>Descrição: <br>
            		Indisponível <br>
            		Data: 19/04 <br>
            		Local: Auditório Central <br>
            		Hora: 08:20h às 09:40h
              </p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="team" class="contact sections">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
              <div class="contact_contant">
                <div class="col-sm-12">
                  <div class="main_clinetslogo">
                    <div class="row">
                      <div class="row .col-6 .col-sm-4 text-center bg-light">
                        <%= image_tag("/branco1.png",class:"imagempro1", :alt => "Cursos") %>
                        <div class="text-center">
                          <input href="#demo" type="submit" value="Ver Todos" data-toggle="collapse" class="btn btn-primary">
                          <div id="demo" class="collapse">
                            <div class="btn-group-vertical">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Ruby on Rails</button>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Unity 3D</button>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">Redes Neurais</button>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">Segurança da Informação</button>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row .col-6 .col-sm-4 text-center bg-light"><br><br><br>
                      <%= image_tag("/branco2.png",class:"imagempro" ,:alt => "Cursos") %>
                      <div class="text-center">
                        <input href="#demo2" type="submit" value="Ver Todos" data-toggle="collapse" class="btn btn-primary">
                        <div id="demo2" class="collapse">
                          <div class="btn-group-vertical">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">Universidade e Suas Dimensões</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6">UX - User eXperience</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal7">Em breve</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of messsage contant-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="atividades">
    <div class="container">
      <div class="row .col-6 .col-sm-4 text-center bg-light">
        <div class="container col-md-4 col-sm-4 col-xs-4">
          <img src="gameshow.png" alt="GameShow">
          <h6 class="text-center text-muted">
            <strong>Competição de perguntas de respostas que tem como objetivo proporcionar um momento de descontração e testar os conhecimentos dos participantes. Premiação: 3 cartões de presente da Saraiva</strong>
          </h6>
          <a href="GameShow2018.pdf" target="_blank">
            <h4 class="text-center text-muted"><img src="pdf_button.png" alt="PDF">Confira o Edital</h4>
          </a>
        </div>
        <div class="container col-md-4 col-sm-4 col-xs-4">
          <img src="maratona.png" alt="Maratona de Programação">
          <h6 class="text-center text-muted">
            <strong>Competição voltada para a solução de problemas computacionais em um determinado tempo, sujeito a penalidades por submissões erradas e com premiação para os vencedores. Medalhas para a equipe vencedora.</strong>
          </h6>
          <a href="maratona.pdf" target="_blank">
            <h4 class="text-center text-muted"><img src="pdf_button.png" alt="PDF">Confira o Edital</h4>
          </a>
        </div>
        <div class="container col-md-4 col-sm-4 col-xs-4">
          <img src="smartidea.png" alt="SmartIdea">
          <h6 class="text-center text-muted">
            <strong>Competição de ideias que visa melhorar a qualidade de vida das pessoas. Além de você ser premiado caso tenha a melhor ideia, você terá a chance de implementar a sua ideia junto com a Acens!</strong>
          </h6>
          <a href="SmartIdea1.pdf" target="_blank">
            <h4 class="text-center text-muted"><img src="pdf_button.png" alt="PDF">Confira o Edital</h4>
          </a>
        </div>
      </div>
    </div>
    <div >
      <a href="/preinscricoes">
        <button type="button" href="/preinscricoes" class="btn btn-primary">Pré-inscrição</button><a/><br></div>
      <br>
      <div >
        <a href="/shirts">
          <button type="button" href="/shirts" class="btn btn-primary">Camisas<br>&<br>Cronograma</button><a/><br></div>
      </section>

      <section id="footer" class="footer_widget">
        <div class="video_overlay">
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="main_widget">
                    <div class="col-sm-4 col-xs-12">
                      <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                        <div class="footer_logo">
                          <img src="logo.png" alt=""/>
                        </div>

                        <div class="main_clinetslogo">
                          <h4>Realização:</h4>
                          <div class="row">
                            <div class="col-sm-4 col-xs-4">
                              <a href="http://www.uece.br" target="_blank">
                                <img border="0" alt="Logo Acensjr" src="uece.png">
                              </a>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                              <a href="https://www.facebook.com/petcompoficial" target="_blank">
                                <img border="0" src="logo_petcomp2.png" alt="Logo do PET Computação UECE"></a>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                              <a href="http://www.acensjr.com" target="_blank"><img border="0" alt="Uece" src="LogoAcens_semNome.png">
                              </a>
                            </div>
                          </div>
                        </div>

                        <br> <div class="main_clinetslogo">
                          <h4>Apoiadores:</h4>
                          <div class="row">
                            <div class="col-sm-6 col-xs-6">
                              <a href="http://www.gracomonline.com.br/site/" target="_blank">
                                <img border="0" src="gracom.png" alt="Logo da Gracom"></a>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                              <a href="http://www.totalcross.com/pt/" target="_blank"><img border="0" alt="Logo da TotalCross" src="totalcross.png">
                              </a>
                            </div>
                              <div class="col-sm-6 col-xs-6">
                                <a href="http://www.uece.br/prae/" target="_blank">
                                  <img border="0" alt="Logo PRAE" src="PRAE.png">
                                </a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4  col-xs-12">
                      <div class="single_widget wow fadeIn animated" data-wow-duration="800ms" style="visibility: visible; animation-duration: 800ms; animation-name: fadeIn;"></div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="single_widget wow fadeIn animated" data-wow-duration="800ms" style="visibility: visible; animation-duration: 800ms; animation-name: fadeIn;">
                        <div class="footer_subcribs_area">
                          <div class="single_widget wow fadeIn animated" data-wow-duration="800ms" style="visibility: visible; animation-duration: 800ms; animation-name: fadeIn;">
                            <ul>
                              <p>
                                <span class="titulo_contato">Contato</span></p>
                              <li>
                                <a href="">
                                  <i class="fa fa-envelope" float="left"></i>
                                  <br><span class="contato">pet.computacao@uece.br</span></a>
                              </li>
                            </ul>
                            <ul>
                              <p>
                                <span class="titulo_contato">Endereço</span></p>
                              <li>
                                <a href="https://www.google.com.br/search?ei=-UepWoaoMsmGwgTtvpj4Ag&q=como+chegar+uece&oq=como+chegar+uece&gs_l=psy-ab.3...5074.5816.0.5895.5.5.0.0.0.0.179.516.0j4.4.0....0...1.1.64.psy-ab..1.0.0....0.xK0u-pfrZ00" target="_blank">
                                  <i class="fa fa-map-marker"></i>
                                  <span class="contato">Av. Dr. Silas Munguba, 1700 - Campus do Itaperi, Fortaleza - CE, 60741-000</span></a>
                              </li>
                            </ul>
                            <p>
                              <span class="titulo_contato">Redes Sociais - Pet Computação</span></p>
                            <ul class="list-inline">
                              <li>
                                <a href="https://www.facebook.com/petcompoficial" target="_blank">
                                  <i class="fa fa-facebook fa-3x"></i>
                                </a>
                              </li>

                              <li>
                                <a href="https://www.instagram.com/petcomputacao/" target="_blank">
                                  <i class="fa fa-instagram fa-3x"></i>
                                </a>
                              </li>
                            </ul>
                            <p>
                              <span class="titulo_contato">Redes Sociais - Acens Jr.</span></p>
                            <ul class="list-inline">
                              <li>
                                <a href="https://www.facebook.com/acensjr" target="_blank">
                                  <i class="fa fa-facebook fa-3x"></i>
                                </a>
                              </li>

                              <li>
                                <a href="https://www.instagram.com/acensjr/" target="_blank">
                                  <i class="fa fa-instagram fa-3x"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main_footer text-center">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <div class="copyright_text">
                        <p class="wow fadeInRight text-right animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">Feito com
                          <i class="fa fa-heart"></i>
                          Por Pet Computação e Acens</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

    </body>
