                                <div class="main_footer text-center">
                                     <div class="row">
                                         <div class="col-sm-12 col-xs-12">
                                             <div class="copyright_text">
                                                 <p class="wow fadeInRight text-right animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">Feito com <i class="fa fa-heart"></i>Por Pet da computação e Acens</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                    
